// Mixins

// Font Faces

@mixin font-face($font-family, $url) {
  @font-face {
    font-family: '#{$font-family}';
		src: url('#{$url}.eot');
		src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
    url('#{$url}.woff') format('woff'),
    url('#{$url}.ttf') format('truetype'),
    url('#{$url}.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

@include font-face("Samim", "../fonts/samim/Samim-FD");
@include font-face("Samim-Bold", "../fonts/samim/Samim-Bold-FD");

// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-family: 'Samim';
  font-weight: 300;
}
@mixin heading-font {
  font-family: 'Samim-Bold';
  font-weight: 700;
}
